@inject HabitosApp.Web.Services.IUsersService _usersService

@{
    ViewData["Title"] = "Habits";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="section dashboard">

    <div class="card">

        <div class="card-header py-3">
            <div class="row">
                <h3 class="m-0 font-weight-bold text-primary col-md-11">Habitos</h3>

                @if (await _usersService.CurrentUserIsAuthorizedAsync("createHabits", "Habits"))
                {
                    <div class="col-md-1">
                        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i></a>
                    </div>
                }

            </div>
        </div>

        <div class="card-body mt-2">

            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>Nombre</th>
                    <th>Tipo Habito</th>
                    <th>Descripcion</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.HabitType.Description</td>
                            <td>@item.Description</td>
                            <td>
                                @if (await _usersService.CurrentUserIsAuthorizedAsync("updateHabits", "Habits"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-fill"></i></a>
                                }
                                @if (await _usersService.CurrentUserIsAuthorizedAsync("deleteHabits", "Habits"))
                                {
                                    <form asp-action="Delete" asp-route-id="@item.Id" style="display:contents">
                                        <button class="btn btn-danger btn-sm btnDelete"><i class="bi bi-trash-fill"></i></button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script>

        $(document).ready(function () {

            $('.btnDelete').click(function (event) {

                event.preventDefault();

                Swal.fire({
                    title: "¿Desea eliminar la sección?",
                    text: "No prodrá revertirlo",
                    icon: "question",
                    showCancelButton: true,
                }).then((result) => {

                    if (result.isConfirmed) {

                        const form = $(this).closest('form');

                        form.submit();
                    }

                });

            });

        });

    </script>
}